@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');

body{
    /* width:800px; */
    text-align:center;
    font-family: 'Titillium Web', sans-serif;
    margin:auto;
    background: linear-gradient(#f06b6b, #8488b4);
}

.cursor {
  width: 20px;
  height: 20px;
  border: 1px solid rgb(218, 143, 143);
  border-radius: 50%;
  position: absolute;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  animation: cursorAnim .4s infinite alternate;
  pointer-events: none;
}

.cursor::after {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  border: 10px solid rgb(206, 71, 112);
  border-radius: 50%;
  opacity: 3.5;
  top: -8px;
  left: -8px;
  animation: cursorAnim2 .8s infinite alternate;
}

@keyframes cursorAnim {
  from {
      transform: scale(1);
  }
  to {
      transform: scale(.7);
  }
}

@keyframes cursorAnim2 {
  from {
      transform: scale(1);
  }
  to {
      transform: scale(.4);
  }
}

@keyframes cursorAnim3 {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(3);
  }
  100% {
      transform: scale(1);
      opacity: 0;
  }
}

.expand {
  animation: cursorAnim3 .5s forwards;
  border: 1px solid rgb(212, 138, 138);
}

.wrapper {
    height: 45vh;
    /*This part is important for centering*/
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .typing-demo {
    width: 27ch;
    margin-bottom: 30px;
    animation: typing 2s steps(22), blink .7s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    
    font-family: 'Titillium Web', sans-serif;
    color: #fdfdfd;
    font-size: 4.3em;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

  .twowrapper {
   
    display: flex;
    margin-top: -150px;
    align-items: center;
    justify-content: center;
  }

  .twotyping-demo {
    width: 40ch;
    animation: typing 6s steps(22), blink .7s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    border-color: #ebecec;
    margin-top: 20px;
    color: #faced4;
    font-family: 'Titillium Web', sans-serif;
    font-size: 2.7em;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

input{
    position:absolute;
    left:0;
    right:0;
    margin:auto;
     top: 43%;
    transform:translateY(-40%);
    text-align:center;
    overflow:hidden;
    color:#138a8a;
    width: 300px;
        font-weight:400;
        padding: 15px;
        text-indent:10px;
        outline:none;
        border:1px solid #ffffff;
        font-size: 20px;
        color:  #2f302f;
        border-radius:45px;
        text-transform:uppercase;
        font-family: 'Titillium Web', sans-serif;
        margin-bottom: 5px;
}

.blue{
  background: linear-gradient(#10ceae, #ff6601);
}

.red{
  background: linear-gradient(#6e6366, #c5b6ac);
}



/* Extra small devices (phones, 480px and down) */
@media only screen and (max-width: 480px) {
   

  .cursor {
    width: 20px;
    height: 20px;
    border: 1px solid rgb(218, 143, 143);
    border-radius: 50%;
    position: absolute;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    animation: cursorAnim .5s infinite alternate;
    pointer-events: none;
  }
  
  .cursor::after {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    border: 10px solid rgb(255, 161, 149);
    border-radius: 50%;
    opacity: 3.5;
    top: -8px;
    left: -8px;
    animation: cursorAnim2 .8s infinite alternate;
  }
  
  @keyframes cursorAnim {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.7);
    }
  }
  
  @keyframes cursorAnim2 {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.4);
    }
  }
  
  @keyframes cursorAnim3 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(3);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
  }
  
  .expand {
    animation: cursorAnim3 .5s forwards;
    border: 1px solid rgb(212, 138, 138);
  }
  
  .wrapper {
      height: 45vh;
      /*This part is important for centering*/
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .typing-demo {
      width: 27ch;
      margin-bottom: 20px;
      animation: typing 2s steps(22), blink .7s step-end infinite alternate;
      white-space: nowrap;
      overflow: hidden;
      
      font-family: 'Titillium Web', sans-serif;
      color: #fdfdfd;
      font-size: 1.7em;
    }
    
    @keyframes typing {
      from {
        width: 0
      }
    }
        
    @keyframes blink {
      50% {
        border-color: transparent
      }
    }
  
    .twowrapper {
     
      display: flex;
      margin-top: -150px;
      align-items: center;
      justify-content: center;
    }
  
    .twotyping-demo {
      width: 40ch;
      animation: typing 6s steps(22), blink .7s step-end infinite alternate;
      white-space: nowrap;
      overflow: hidden;
      border-right: 3px solid;
      border-color: #ebecec;
      margin-top: 20px;
      color: #dddddd;
      font-family: 'Titillium Web', sans-serif;
      font-size: 1.7em;
    }
    
    @keyframes typing {
      from {
        width: 0
      }
    }
        
    @keyframes blink {
      50% {
        border-color: transparent
      }
    }
  
  input{
      position:absolute;
      left:0;
      right:0;
      margin:auto;
       top: 37%;
      transform:translateY(-40%);
      text-align:center;
      overflow:hidden;
      color:#138a8a;
      width: 150px;
          font-weight:300;
          padding: 10px;
          text-indent:10px;
          outline:none;
          border:1px solid #ffffff;
          font-size: 20px;
          color:  #2f302f;
          border-radius:45px;
          text-transform:uppercase;
          font-family: 'Titillium Web', sans-serif;
  }
}