@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');

body{
    /* width:800px; */
    text-align:center;
    font-family: 'Titillium Web', sans-serif;
    margin:auto;
    background-image: repeating-linear-gradient(90deg, rgb(171,115,115) 0px, rgb(171,115,115) 1px,transparent 1px, transparent 96px),repeating-linear-gradient(0deg, rgb(171,115,115) 0px, rgb(171,115,115) 1px,transparent 1px, transparent 96px),repeating-linear-gradient(0deg, rgb(244,255,156) 0px, rgb(244,255,156) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(90deg, rgb(244,255,156) 0px, rgb(244,255,156) 1px,transparent 1px, transparent 12px),linear-gradient(90deg, rgb(244,255,156),rgb(244,255,156));
}

.wrapper {
    height: 40vh;
    /*This part is important for centering*/
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .typing-demo {
    width: 24ch;
    animation: typing 2s steps(22), blink .7s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 7px solid;
    font-family: 'Titillium Web', sans-serif;
    font-size: 5em;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

  .twowrapper {
    height: 2vh;
    /*This part is important for centering*/
    display: flex;
    margin-top: -85px;
    align-items: center;
    justify-content: center;
  }

  .twotyping-demo {
    width: 40ch;
    animation: typing 6s steps(22), blink .7s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    border-color: #32b1b1;
    color: #32b1b1;
    font-family: 'Titillium Web', sans-serif;
    font-size: 3em;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

input{
    position:absolute;
    left:0;
    right:0;
    margin:auto;
     top:46%;
    transform:translateY(-50%);
    text-align:center;
    overflow:hidden;
    color:#32b1b1;
    width: 230px;
        border-radius: 50px;
        font-weight:400;
        padding: 20px;
        text-indent:10px;
        outline:none;
        border:10px solid #448996;
        font-size: 12px;
        color:  #63642f;
        border-radius:5px;
        text-transform:uppercase;
        font-family: 'Nunito', 
}


